<%- include('./partials/header') %>
<div class="container py-5">
  <div class="text-center">
    <h1 class="display-4">Welcome to RecipeHub</h1>
    <p class="lead">Explore and share your favorite recipes</p>
    <a href="/recipes" class="btn btn-primary">My Recipes</a>
    <a href="/recipes/public" class="btn btn-outline-secondary">Browse Public Recipes</a>
  </div>
</div>
<%- include('./partials/footer') %>